aiocache
aiofiles
aiohttp
asyncpg>=0.26.0
enka-api
loguru>=0.6.0
msgspec>=0.9.0
pillow
python-dotenv
vkbottle @ https://github.com/vkbottle/vkbottle/archive/master.zip
vkbottle-types @ git+https://github.com/vkbottle/types.git@bd2a79c7a78f0322d0ba57eb2591d7b0e4993994
